
:root {
    --help-side-bar-width: 30%;
    --help-sections-border: 4px solid rgb(45, 45, 45);
    --help-sections-first-last-child-margin: 0px;
}

html {
    color: white;
    background-color: black;
}

/* #region Help side bar */

#help-open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 17px;
    transition: 0.3s;
    border-radius: 50%;
    border: 2px solid white;
    padding: 10px;
}

#help-side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgb(30, 30, 30);
    border-right: 2px solid rgb(45, 45, 45);
    box-shadow: 0 0 10px black;
    height: 100%;
    width: 100%;
    transition: 0.3s ease-in-out;
    overflow-x: hidden;
}

#help-side-bar > h2 {
    font-size: 30px;
}

#help-side-bar > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--help-sections-border);
    border-bottom: none;
    width: 100%;
}

#help-side-bar > section:last-of-type {
    border-bottom: var(--help-sections-border);
}

#help-side-bar > section > *:last-child {
    margin-bottom: var(--help-sections-first-last-child-margin);
}

.hideElem {
    display: none;
}

#help-close {
    position: absolute;
    right: 2%;
    top: 1%;
}

#help-side-bar::-webkit-scrollbar {
    width: 7px;
    background-color: var(--scrollbar-bg-colour);
}

#help-side-bar::-webkit-scrollbar-track {
    background-color: var(--scrollbar-bg-colour);
}

#help-side-bar::-webkit-scrollbar-thumb {
    background-color: rgb(40, 40, 40);
    border-radius: 100px;
    height: 100px;
}

/* #endregion */

/* #region General help content */

.help-text-heading {
    text-decoration: underline;
    margin: 0 0 10px 0;
    font-size: 18px;
    text-align: center;
    padding: 20px 0;
    border-bottom: 3px solid rgb(45, 45, 45);
    width: 100%;
}

.help-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.help-item-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-item-display > * {
    margin: 0 5px;
}

.help-image {
    max-width: 35%;
    max-height: 30px;
}

.help-text, .help-text-desc {
    font-size: 15px;
    text-align: center;
    color: white;
    border: none;
    transition: 0.5s;
}

.help-text-desc {
    margin: 12px;
}

.no-help {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

/* #endregion */

/* #region Keyboard shortcuts */

.shortcut-key {
    width: auto;
    padding: 2px 5px;
    background-color: rgb(80, 80, 150);
    border-radius: 5px;
}

/* #endregion */
